{#
   Template de base pour les pages avec menu
#}

{% extends '1-base.html.twig' %}

{% block logo %}
<a href="/{{ dossier }}/a-propos" title="À propos {{ du }}{{ support }}"><img src="{{ logo_url }}" /></a>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/CSS/pageDT.css" />
{% endblock %}

{% block balise_nav %}
<nav>
{{ menu | raw }}
<a href="/">Page d'accueil</a>
</nav>
{% endblock %}
