{#
   Template de base pour les pages avec menu
#}

{% extends '1-base.html.twig' %}

{% block balise_title %}Dossier technique {{ du }}{{ support }}{% endblock %}

{% block texte_header %}Dossier technique {{ du }}{{ support }}{% endblock %}

{% block logo %}
<a href="/{{ dossier }}" title="À propos {{ du }}{{ support }}"><img src="{{ logo_url }}" /></a>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/CSS/pageDT.css" />
{% endblock %}

{% block balise_nav %}
<nav>
{% include 'supports/' ~ dossier ~ '/menu.html' %}
<a href="/">Page d'accueil</a>
</nav>
{% endblock %}

{% block scripts %}
<script src="/JS/gerer-menu.js"></script>
{% endblock %}