{#
    Page d'éclaté
    Variables attendues :
        - fichier : nom de base du fichier eDrawing sans extension (ex: bouton-poussoir)
        - image   : nom de base du fichier image sans extension (ex: eclate-bouton-poussoir)
    Les extensions sont fixes : .EASM pour les fichiers, .png pour les images.
#}

{% extends '11-base-avec-nav.html.twig' %}

{% block contenu %}
<h1>{{ titre }}</h1>
<a href="/supports/{{ dossier }}/fichiers/{{ fichier }}.EASM" title="Télécharger l'éclaté {{ du }}{{ support }}">
    <img src="/supports/{{ dossier }}/images/{{ image }}.png" alt="Éclaté {{ du }}{{ support }}" class="association">
</a>
<p>Cliquer sur l'image pour télécharger l'éclaté.
<br>Puis dans e-Drawing (2021), cliquez sur l'icône <img src="/images/icone_eclater_rassembler.png" alt="icone éclater/rassembler" style="vertical-align: middle"> pour éclater/rassembler la maquette numérique</p>
{% endblock %}