{#
	Page image
	La partie principale de la page est une image.
	La page contient :
	- un titre
	- un texte au dessus de l'image éventuellement vide
	- une image occupant la plus grande partie de la page
	- un texte en dessous de l'image éventuellement vide
#}

{% extends '11-base-avec-nav.html.twig' %}

{% block contenu %}
<h1>{{ titre }}</h1>
{{ texte_au_dessus | raw }}
<img src="/supports/{{ dossier }}/images/{{ image }}" alt="{{ commentaire_image }}" class="association" height="{{ hauteur_image }}px">
{{ texte_au_dessous | raw }}
{% endblock %}