{#
	Page association image-fichier
	La partie principale de la page est une image associe à un fichier à télécharger.
	La page contient :
	- un titre
	- un texte au dessus de l'image éventuellement vide
	- une image occupant la plus grande partie de la page. Le clic sur l'image lance le téléchargement du fichier associé.
	- un texte en dessous de l'image éventuellement vide
#}

{% extends '11-base-avec-nav.html.twig' %}

{% block contenu %}
<h1>{{ titre }}</h1>
{{ texte_au_dessus | raw }}
<a href="/supports/{{ dossier }}/fichiers/{{ fichier }}" title="{{ titre_lien }}">
	<img src="/supports/{{ dossier }}/images/{{ image }}" alt="{{ commentaire_image }}" class="association" height="{{ hauteur_image }}px">
</a>
{{ texte_au_dessous | raw }}
{% endblock %}